<section class="login">
    <div class="text-center my-5">
        <h1>Login</h1>
    </div>
    <div class="form-container">
        <form method="POST" action="/login">
            {{#if err}}
            <div class="alert alert-danger" role="alert">
                {{{err}}}
            </div>
            {{/if}}
            <div class="form-group mb-3">
                <label for="username" class="mb-2">Username</label>
                <input type="text" class="form-control" id="username" value="{{{username}}}" name="username"
                    aria-describedby="Enter username" placeholder="Enter username">
            </div>
            <div class="form-group mb-3">
                <label for="user-password" class="mb-2">Password</label>
                <input type="password" class="form-control" id="user-password" name="password" placeholder="Password">
            </div>
            <div class="mb-3">
                <a href="/register" class="nav-link link-primary">Dont have an account? Sign up!</a>
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    </div>
</section>